*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#nav{
  height:5%;
  width: auto;
  border: 1px solid rgb(252, 247, 247);
  justify-content: center;
  font-family: 'Karla', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color:rgb(248, 134, 178);
}
#nav #p{
  font-size: 20px;
  margin-left: 8%;
  margin-top: 1%;
  
  font-weight: bold;
  color:rgb(15, 15, 15);
  justify-content: center;
}
#navi:hover{
  margin: auto;
  color: pink;
}
#pp:hover{
  margin: auto;
  color: pink;
}
 #pp{
  font-size: 18px;
  /* margin-left: 50%;
  margin-top: -30%;
  display: flex; */
  
}
#nav1  {
  display:flex;
  height: 100%;
  width: 40%;
  font-family: 'Karla', sans-serif;
  font-family: 'Roboto', sans-serif;
  /* border: 1px solid black; */
  margin-left: 60%;
  gap:50px;
  margin-top: -2%;
  font-size: 25px;
  background-color:rgb(248, 134, 178);
}

#navbar{
  /* margin-top: 3%; */
  height: 80px;
  width: auto;
  display: flex;
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
 
 img{
  height: 45%;
  width: 6%;
  justify-content: center;
  /* border: 1px solid red; */
  margin-left: 7%;
  margin-top:1%;
  
}

#sidebar{
  height: 30px;
  width: 40%;
  display: flex;
  gap:7%;
  margin-left:3%;
  /* border: 1px solid rgb(209, 38, 38); */
  margin-top:1.2%;
}
#search0 input{
  height: 50px;
  width: 90%;
  border: 1px solid rgb(224, 224, 224);
  background-color: rgb(247, 245, 245);
  margin-left: 5%;
  margin-top:5%;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
}
#mag0 {
  height: 20px;
  width: 2%;
  margin-left: 15%;
  margin-top: -10%;
  
}
#ss0{
  color: rgb(165, 163, 163);
}
 #sidebar #side{
  display: inline-flex;
  list-style: none;
  gap:50px;
  margin-top: 1%;
  margin-left: 0%;
  transition: 0.25s ease-in-out;
} 

#sidebar #side li a{
  color:rgb(95, 94, 94);
  font-size: 18px;
}
#sidebar #side li :hover{
  color: rgb(252, 105, 127);
}

#makeup0  {
  list-style-type: none;
  display: none;
  transition: 0.25 ease-in-out;
  
}
#sidebar ul li:hover #makeup0{
  display: block;
  position: absolute;
  margin-top:2%;
  width: 85%;
  height:auto;
  display: flex;
  background-color: white;
  /* border: 1px solid rebeccapurple; */
  justify-content: left;
  margin-left:-17%;
  transition: 0.25 ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


#sidebar ul li:hover #makeup0 #makeup10 {
  display: block;
  /* position: absolute; */
  /* margin-top:3%; */
  width: 30%;
  height: auto;
  gap:10%;
  /* border: 1px solid red; */
  justify-content: right;
  line-height:2em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  transition: 0.25 ease-in-out;
}
#sidebar ul li:hover #makeup0 #makeup10 #boxx{
  display: block;
  width: 80%;
  height: 80%;
  margin-top: 20%;
  border: 1px solid red;
  margin-left: 10%;
  line-height:2em;
  border:none;
  transition: 0.25 ease-in-out;
  
}
#sidebar ul li:hover #makeup0 #makeup11 #boxx1 #bag{
  transition: 0.25 ease-in-out;
  width: 80%;
  height: 60px;
  margin: auto;
  /* border: 1px solid rgb(112, 66, 196); */
  margin:auto;
  gap:50px;
  justify-content: center;

  
}
#sidebar ul li:hover #makeup0 #makeup11 #boxx1 #bag #btn{
  width: 20%;
  height: 100%;
  margin:auto;
  gap:50px;
  background-color: rgb(250, 15, 124);
  justify-content: center;
  margin-left: 3%;
  margin-top: 3%;
  color:white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 2px;
  border: 1px solid white;
  transition: 0.25 ease-in-out;
}
#sidebar ul li:hover #makeup0 #makeup11 #boxx1 #bag #btn0{
  width: 20%;
  height: 100%;
  margin:auto;
  gap:50px;
  transition: 0.25 ease-in-out;
  background-color: rgb(172, 169, 169);
  justify-content: center;
  margin-left: 3%;
  margin-top: 3%;
  color:rgb(14, 13, 13);
  font-weight: bold;
  font-size: 18px;
  border-radius: 2px;
  border: 1px solid white;
}
#bag1 #bag{
  height: 60%;
  width: 73%;
  /* border: 1px solid black; */
  margin-left:13%;
  margin-top: 5%;
  color: rgb(26, 25, 25);
  display: flex;
  gap:20px;
}
#bag1 #b{
  
  /* border: 1px solid red; */
  height: 80px;
  width: 200px;
}
#bimg{
  height: 90%;
  width: 90%;
}
#makeup10 li a{
  margin-top: 15%;
}
#sidebar ul li:hover #makeup0 #makeup11{
  display: block;
  width: auto;
  height: auto;
  gap:10%;
  transition: 0.25 ease-in-out;
  justify-content: right;
  line-height:2em;
  background-color: rgb(247, 245, 245);
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  transition: 0.25 ease-in-out;
}

#navbar1 ul li:hover #makeup #makeup1 h4{
  color:black;
  margin-top: 20%;
  transition: 0.25 ease-in-out;
  
}
#navbar ul li:hover #brand{
  display: block;
  position: absolute;
  margin-top:1.1%;
  width: 70%;
  height: 50%;
  display: flex;
  transition: 0.25 ease-in-out;
}
#sidebar a:hover{
  color: rgb(252, 105, 127);
}
a{
  text-decoration: none;
  font-size:18px ;
  color: black;
  font-weight: bold;
  font-family: 'Karla', sans-serif;
  font-family: 'Roboto', sans-serif;
}
#search input{
  height: 45px;
  width: 290px;
  border: 1px solid rgb(224, 224, 224);
  background-color: rgb(247, 245, 245);
  margin-left: 36%;
  margin-top:5%;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
}

#sign1{
  height: 30px;
  width: 2%;
  /* border: 1px solid red; */
  margin-left: 8%;
  margin-top: 1.8%;
  justify-content: center;
}
#mag {
  height: 20px;
  width: 2%;
  margin-left: -20%;
  margin-top: 1.5%;
  
}
#ss{
  color: rgb(165, 163, 163);
}
#icon {
  height: 40%;
  width: 3%;
  /* border: 1px solid red; */
  margin-left:24%;
  gap: 20px;
  margin-top:1.7%;
}
#icon1 {
  height: 40%;
  width: 3%;
  /* border: 1px solid red; */
  margin-left:0.1%;
  gap: 20px;
  margin-top:1.7%;
}

#i0{
  height: 20px;
  width: 30px;
  color:rgb(243, 17, 111);
  margin-left: 5%;
}
#sign1 p{
  font-size: 18px;
  margin-left: 100%;
  margin-top: -70%;
  font-family: 'Karla', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: rgb(88, 88, 88);
}
#sss{
  margin-top: -20px;
  color: rgb(88, 88, 88);
}
#gift{
  height: 30px;
  width: 2%;
  border: 1px solid red;
  margin-left: 23%;
  margin-top: 1.5%;
  color: pink;
}
hr{
  color: rgb(165, 161, 161);
}

#navbar a{
  height: 100px;
}
#bag {
  height: 20px;
  width: 2%;
  /* border: 1px solid black; */
  margin-left: 1%;
  margin-top: 1.5%;
  color: rgb(26, 25, 25);
}

#navbar1{
  /* margin-top: 3%; */
  height: 55px;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  text-align: center;
  transition: 0.25 ease-in-out;
  /* border: 1px solid red; */
}
#navbar1 #page{
  display: inline-flex;
  list-style: none;
  gap:47px;
  margin-top: 1%;
  margin-left: -10%;
  transition: 0.25 ease-in-out;
}

#navbar1 #page li a{
  color:rgb(160, 158, 158);
  font-size: 18px;
}
#navbar1 #page li :hover{
  color: rgb(252, 105, 127);
}


#navbar1 #offer {
  height: 50%;
  width: 7%;
   /* border: 1px solid red;  */
  background-image: linear-gradient(to right, rgb(250, 119, 163), rgb(235, 25, 172), rgb(243, 9, 173));
  margin-left: 85%;
  margin-top:-1.4%;
}
#offer p {
  font-size: 15px;
  color: white;
  font-weight: bold;
  font-family: 'Karla', sans-serif;
  font-family: 'Roboto', sans-serif;
 
 
}
 
  #makeup  {
  list-style-type: none;
  display: none;
  transition: 0.25 ease-in-out;
}
/* #makeup li a:hover{
  background-color: blueviolet;
} */
#navbar1 ul li:hover #makeup{
  display: block;
  position: absolute;
  margin-top:1.1%;
  width: 70%;
  height: 73%;
  display: flex;
  /* gap:20%; */

  transition: 0.25 ease-in-out;
  /* border: 1px solid rebeccapurple; */
  justify-content: left;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* #page li:nth-child(2):hover #makeup{
  display:block;
} */
#navbar1 ul li:hover #makeup #makeup1{
  display: block;
  /* position: absolute; */
  margin-top:-1%;
  width: 20%;
  height: auto;
  gap:10%;
  justify-content: right;
  line-height:2em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  transition: 0.25 ease-in-out;
}

#navbar1 ul li:hover #makeup #makeup1 h4{
  color:rgb(10, 10, 10);
  
}
#navbar1 ul li:hover #makeup #makeup1 h3{
  color:rgb(10, 10, 10);
  
}


#make  {
  list-style-type: none;
  display: none;
  transition: 0.25 ease-in-out;
  background-color: white;
}
#sidebar ul li:hover #make{
  display: block;
  position: absolute;
  margin-top:3%;
  width: 85%;
  height: auto;
  display: flex;
  margin-left: -23%;
  /* gap:20%; */
  transition: 0.25 ease-in-out;
  /* border: 1px solid rebeccapurple; */
  justify-content: left;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* #page li:nth-child(2):hover #makeup{
  display:block;
} */
#sidebar ul li:hover #make #make1{
  display: block;
  /* position: absolute; */
  margin-top:3%;
  transition: 0.25 ease-in-out;
  width: 20%;
  height: auto;
  gap:10%;
  justify-content: right;
  line-height:2em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  background-color: white;
}
#sidebar ul li:hover #make #make2{
  display: block;
  /* position: absolute; */
  margin-top:2%;
  transition: 0.25 ease-in-out;
  width: 20%;
  height: auto;
  gap:10%;
  justify-content: right;
  line-height:2em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  background-color: rgb(245, 241, 241);
}
#sidebar ul li:hover #make #make1 h3{
  color: rgb(250, 8, 121);
  font-weight: bold;
}
#sidebar ul li:hover #make #make2 h3{
  color: rgb(252, 105, 127);
  font-weight: bold;
}
#sidebar ul li:hover #make #make1 h4{
  color: rgb(5, 5, 5);
  font-weight: bold;
}
#sidebar ul li:hover #make #make2 h{
  color: rgb(247, 7, 87);
  font-weight: bold;
}




#makee  {
  list-style-type: none;
  display: none;
  transition: 0.25 ease-in-out;
  background-color: white;
  transition: 0.25 ease-in-out;
}
#sidebar ul li:hover #makee{
  display: block;
  position: absolute;
  margin-top:3%;
  width: 85%;
  height: auto;
  display: flex;
  margin-left: -28%;
  /* gap:20%; */
  transition: 0.25 ease-in-out;
  /* border: 1px solid rebeccapurple; */
  justify-content: left;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* #page li:nth-child(2):hover #makeup{
  display:block;
} */
#sidebar ul li:hover #makee #makee1{
  display: block;
  /* position: absolute; */
  margin-top:3%;
  width: 23%;
  height: auto;
  gap:10%;
  justify-content: right;
  line-height:2em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  background-color: white;
  transition: 0.25 ease-in-out;
}

#sidebar ul li:hover #makee #makee2{
  display: block;
  /* position: absolute; */
  transition: 0.25 ease-in-out;
  margin-top:2%;
  width: 23%;
  height: auto;
  gap:10%;
  justify-content: right;
  line-height:2em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  background-color: rgb(245, 241, 241);
}
#sidebar ul li:hover #makee #makee3{
  display: block;
  /* position: absolute; */
  margin-top:3%;
  width: 45%;
  height: 100%;
  gap:10%;
  justify-content: right;
  line-height:2em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  background-color: white;
}
#sidebar ul li:hover #makee #makee1 h4{
  color: rgb(252, 105, 127);
  font-weight: bold;
}
#sidebar ul li:hover #makee #makee2 h4{
  color: rgb(252, 105, 127);
  font-weight: bold;
}
#sidebar ul li:hover #makee #makee1 h3{
  color: rgb(5, 5, 5);
  font-weight: bold;
}
#sidebar ul li:hover #makee #makee2 h3{
  color: rgb(8, 8, 8);
  font-weight: bold;
}

#mm{
  height: 75%;
  width: 80%;;
}



#makeee  {
  list-style-type: none;
  display: none;
  transition: 0.25 ease-in-out;
  background-color: white;
  transition: 0.25 ease-in-out;
}
#sidebar ul li:hover #makeee{
  display: block;
  position: absolute;
  margin-top:2%;
  width: 80%;
  height: 45%;
  display: flex;
  margin-left: -37%;
  transition: 0.25 ease-in-out;
  display: flex;
  transition: 0.25 ease-in-out;
  /* border: 1px solid rebeccapurple; */
  justify-content: left;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#sidebar ul li:hover #makeee #makeee1{
  display: block;
  transition: 0.25 ease-in-out;
  margin-top:2%;
  width: 30%;
  height: auto;
  /* border: 1px solid red; */
  gap:40%;
  margin-left: 3%;
  justify-content: right;
  line-height:2em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  background-color: white;
}


#sidebar ul li:hover #makeee #makeee1 h3{
  color: rgb(5, 5, 5);
  font-weight: bold;
  margin-left: 15%;
}
#sidebar ul li:hover #makeee #makeee1 h4{
  color: rgb(104, 101, 101);
  margin-left: 15%;
}

#mmm{
  height: 60%;
  width: 80%;
 border-radius: 5px;
 margin-left: 15%;
 border:rgb(252, 105, 127);;
}


#makeup5  {
  list-style-type: none;
  display: none;
  transition: 0.25 ease-in-out;
}
/* #makeup li a:hover{
  background-color: blueviolet;
} */
#navbar1 ul li:hover #makeup5{
  display: block;
  position: absolute;
  margin-top:3%;
  width: 70%;
  height: auto;
  display: flex;
  /* gap:20%; */
margin-left: -40%;
  transition: 0.25 ease-in-out;
  /* border: 1px solid rebeccapurple; */
  justify-content: left;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#navbar1 ul li:hover #makeup5 #makeup6{
  display: block;
  /* position: absolute; */
  margin-top:-1%;
  width: 20%;
  height:auto;
  gap:10%;
  justify-content: right;
  line-height:2em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  transition: 0.25 ease-in-out;
}

#navbar1 ul li:hover #makeup5 #makeup6 h4{
  color:black;
}


#makeup3  {
  list-style-type: none;
  display: none;
  transition: 0.25 ease-in-out;
}
/* #makeup li a:hover{
  background-color: blueviolet;
} */
#navbar1 ul li:hover #makeup3{
  display: block;
  position: absolute;
  margin-top:3%;
  width: 70%;
  height: auto;
  display: flex;
  /* gap:20%; */
margin-left: -60%;
  transition: 0.25 ease-in-out;
  /* border: 1px solid rebeccapurple; */
  justify-content: left;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#navbar1 ul li:hover #makeup3 #makeup4{
  display: block;
  /* position: absolute; */
  margin-top:-1%;
  width: 20%;
  height: auto;
  gap:10%;
  justify-content: right;
  line-height:2em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  transition: 0.25 ease-in-out;
}

#navbar1 ul li:hover #makeup3 #makeup4 h4{
  color:black;
  
}
#makeup8  {
  list-style-type: none;
  display: none;
  transition: 0.25 ease-in-out;
}
/* #makeup li a:hover{
  background-color: blueviolet;
} */
#navbar1 ul li:hover #makeup8{
  display: block;
  position: absolute;
  margin-top:3%;
  width: 70%;
  height: auto;
  display: flex;
  /* gap:20%; */
margin-left: -20%;
  transition: 0.25 ease-in-out;
  /* border: 1px solid rebeccapurple; */
  justify-content: left;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#navbar1 ul li:hover #makeup8 #makeup9{
  display: block;
  /* position: absolute; */
  margin-top:-1%;
  width: 60%;
  height: auto;
  gap:10%;
  justify-content: right;
  line-height:2em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  transition: 0.25 ease-in-out;
}

#navbar1 ul li:hover #makeup8 #makeup9 h4{
  color:black;
  
}




