#footer{
    height: auto;
    width: auto;
    /* border: 1px solid red; */
}
 #footer_id {
    /* border: 1px solid red; */
    height: 900px;
    width: 100%;
}

#div1 {
    /* border: 1px solid red; */
    height: 20%;
    width: 100%;
    background-color: rgb(68, 67, 67);
    color: white;
    display: flex;
}

#box {

    /* border: 1px solid rgb(13, 216, 115); */
    height: 60%;
    width: 27%;
    margin-top: 20%;
    margin-left: 100px;
    margin: auto;
    display: flex;
}
#dh #h3{
    display: flex;
    /* border: 1px solid red; */
    height: 30%;
    width:290px;
    justify-content: center;
    text-align: center;
    margin: auto;
}
#box #i{
    height: 30px;
    width: 50px;
    margin-left: 3%;
    margin-top:-1%;
    /* border: 1px solid red; */
}

#box1 {
    height: 70%;
    width: 23%;
    /* border: 1px solid red; */
    margin-left: 20px;
    margin: auto;
    gap:10%;
    /* display: flex; */
}
#dh1 #h3{
    display: flex;
    /* border: 1px solid red; */
    height: 30%;
    width:280px;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-left: 20%;
    margin-top: -7%;
}
#box1 #i{
    height: 30px;
    width: 50px;
    margin-left: 3%;
    margin-top:3%;
    /* border: 1px solid red; */
}
#main{
    /* border: 1px solid pink; */
    height: 60%;
    width: 100%;
    display: flex;
    margin-top: 5%;
}

#play{
    color: white;
    height: 80%;
    width: 100%;
    border: 1px solid rgb(173, 172, 172);
    background-color: black;
    border-radius: 10px;
}
#play #img{
    height: 90%;
    width:90%;
    color:white;
    margin-top: 2%;
    margin-left: 15px;
}


#store{
    color: white;
    height: 100%;
    width: 100%;
    border-color: white;
    border: 1px solid black;
    /* margin-left: 18%; */
}
#box2 #i{
    height: 30px;
    width: 50px;
    margin-left: 8%;
    margin-top: 1%;
}
#dh2 {
    
    /* border: 1px solid red; */
    height: 60%;
    width:310px;
    /* margin-left: -5%; */
    /* text-align: center; */
    margin: auto;
    margin-left: 20%;
    margin-top: -7%;
}
#dh2 #h3{
    margin-left: 5%;
}
#box2 #i{
    height: 30px;
    width: 50px;
    margin-left: 12%;
    margin-top:5%;
    /* border: 1px solid red; */
}
#box2 {

    /* border: 1px solid rgb(13, 216, 115); */
    height: 80%;
    width: 28%;
    margin-top: -50px;
    margin-left: 20px;
    margin: auto;

}



#h3 {
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 18%;
    font-family: 'Karla', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: -2%;
    

}

#box #input {
    text-decoration: none;
    background-color: rgb(68, 67, 67);
    height: 45%;
    width: 50%;
    border-color: white;
    color: white;
    font-size: 18px;
    margin-top: 12%;
    /* border: 1px solid red; */
    margin-left: -77%;
}

#button {
    margin-top: 12%;
    text-decoration: none;
    background-color: rgb(68, 67, 67);
    color: white;
    height: 55px;
    width: 20%;
    border-color: white;
    margin-left: 4%;
    font-size: 20px;
}

#div2 {
    /* border: 1px solid red; */
    height: 50%;
    width: 100%;
    background-color: grey;
    color: white;
    display: flex;
    /* margin-top: 40%; */
}

#h4 {
    margin-top: 20%;
    font-style: italic;
    font-weight: bold;
    font-size: 28px;
}

#h5 {
    margin-top: 20%;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#p {
    font-size: 15px;
    font-family: 'Karla', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#bb {
    height: 100%;
    width: 18%;
    /* border: 1px solid black; */
    margin-left: 4%;
}

#bb1 {
    height: 100%;
    width: 18%;
    /* border: 1px solid black; */

}

#bb2 {
    height: 100%;
    width: 18%;
    /* border: 1px solid black; */

}

#bb3 {
    height: 100%;
    width: 18%;
    /* border: 1px solid black; */

}

#bb4 {
    height: 100%;
    width: 18%;
    /* border: 1px solid black; */
    margin-left: 20px;
}

#div3 {
    /* border: 1px solid red; */
    height: 30%;
    width: 100%;
    background-color: white;
    color: white;
    display: flex;
    /* margin-top: 40%; */
}

#bbb1 {
    height: 50%;
    width: 18%;
    /* border: 1px solid black; */
    margin: auto;
    margin-left: 4%;
}

#bbb {
    height: 50%;
    width: 18%;
    /* border: 1px solid black; */
    margin: auto;
}

#img img {
    height: 20%;
    width: 20%;
    /* border: 1px solid red; */
    margin-top: 10%;
}

#b {
    /* border: 1px solid red; */
    height: 80%;
    width: 50%;
    margin-left: 29%;
    margin-top: -28%;
}

#b1 {
    /* border: 1px solid red; */
    height: 90%;
    width: 90%;
    margin-left: 29%;
    /* margin-top: -28%; */
    margin: auto;
}
#b1> #h6{
    font-size: 18px;
    color: rgb(73, 72, 72);
    margin-top:1%;
    font-family: 'Karla', sans-serif;
    font-family: 'Roboto', sans-serif;
}
#img1 #img{
    height: 25%;
    width: 25%;
    /* border: 1px solid red; */
    margin-top: -50%;
    margin-left: 15px;
}

#b>p {
    color: black;
    margin: auto;
    font-weight: bold;
    font-size: 18px;
}

#b>h6 {
    font-size: 16px;
    color: grey;
    margin-top: 10%;
}

#div4 {
    /* border: 1px solid red; */
    height: 10%;
    width: 100%;
    background-color: rgb(241, 50, 145);
    color: white;
    display: flex;
    /* margin-top: 40%; */
}

#b0 {
    height: 20%;
    width: 40%;
    /* border: 1px solid black; */
    margin-left: 30%;
    margin-top: 1%;
}

#b0>a {
    margin-left: 3%;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#b00 {
    font-size: 15px;
    margin-top: 3%;
    margin-left: -30%;
}

#z {
    height: 10%;
    width: 100%;

}