body {
    background-color: #f3f3f3;
    display: grid;
  
    align-items: center;
    justify-content: center;
  }
  * {
    margin: 0px;
    padding: 0px;
  }
  #main {
    /* border: 1px solid green; */
  
    box-sizing: border-box;
    /* display: grid; */
    max-width: 1280px;
    /* max-width: 1280px; */
    width: 600px;
    justify-self: center;
    padding: 50px 70px 0px 70px;
  
    background-color: #f3f3f3;
  }
  #top {
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid black;
    border-bottom: none;
  }
  a {
    margin: 10px;
    text-decoration: none;
  }
  #bag {
    display: flex;
    color: rgb(0, 19, 37);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.1px;
    gap: 20px;
    margin-top: 5px;
    justify-items: center;
    align-items: baseline;
    padding: 10px 20px;
    border-top: none;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
  
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 19 37 / 16%) 0px -1px 0px inset;
  }
  #middle {
    background-color: #fff;
    border: 1px solid black;
    padding: 10px;
  }
  #m1 {
    color: rgb(63, 65, 77);
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 20px;
  }
  #middle button {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.1px;
    border-color: rgba(101, 119, 134, 0.36);
    background-color: rgb(255, 255, 255);
    color: rgb(232, 0, 113);
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-top: 10px;
  
    padding: 7px 10px;
  }
  #bottom {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border: 1px solid black;
    border-top: none;
    /* border-width: 1px;
    border-color: rgba(0, 19, 37, 0.08); */
    background: rgb(255, 255, 255);
  
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 60px;
    justify-content: space-between;
  }
  #bottom > div:first-child {
    display: flex;
    flex-direction: column;
    padding: 4px 20px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
  }
  #bottom > div:last-child {
    display: flex;
    flex-direction: column;
    padding: 8px 20px;
    width: 100%;
  }
  #bottom > div:last-child > button {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 12px;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.1px;
    border-color: rgb(232, 0, 113);
    background-color: rgb(232, 0, 113);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    width: 100%;
  }
  .items {
    margin: 10px 0px;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 19, 37, 0.08);
    border-radius: 8px;
    padding: 10px;
    border: 1px solid red;
    height: 100px;
    display: grid;
    grid-template-columns: 3fr 6fr 1fr;
  }
  .items div img {
    width:90%;
    /* height: 100%; */
  }
  .imgData {
    height: 60%;
  }
  .imgDelete {
    cursor: pointer;
    height: 20%;
    width: 100%;
  }
  .items div:nth-child(2) {
    padding-right: 10px;
  }
  .divdetail {
    border: 1px solid black;
    color: rgb(63, 65, 77);
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 20px;
    gap: 20px;
    font-weight: 500;
  }
  .divdetail > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }