
body{
background-color:#f3f3f3;
}
#login{
   width: 375px;
   margin: auto;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
   box-sizing: border-box;
   padding: 25px;
   margin-top: 75px;
   border-radius: 10px;
   background-color: #ffff;
}
#firstb{
   border: none;
   background-color: #ffff;
   font-family: serif;
}
#firstb:hover{
   cursor: pointer;
}
#firstb+h1{
   font-size: 40px;
   margin-bottom: 0px;
}
p{
   color: gray;
   font-size: 20px;
}
h3{
   color: gray;
}
h3>a{
   color: gray;
}
#secondb{
   width: 100%;
   background-color: #fc2779;
   color: #ffff;
   font-size: 20px;
   padding: 10px;
   border: none;
   margin-top: 20px;
   cursor: pointer;
}
